<div ng-controller="VoucherListController as vc">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="fa fa-th"></span> <span data-i18n="voucher"></span></strong></div>
            <div class="panel-body">
                <div class="form-inline">
                    <button class=" btn btn-primary pull-right" ng-click="">
                        <i class="icon-plus icon-white"></i> Create Voucher
                    </button>

                     <ui-select ng-model="selectedOption" theme="select2" style="min-width: 300px; " ng-disabled="disabled" ng-change="bWiseVoucher(selectedOption, fromDate, toDate)" >
                        <ui-select-match placeholder="Select or search branch">{{selectedOption.Name}}</ui-select-match>
                        <ui-select-choices repeat="office in offices | propsFilter: {Code: $select.search, Name: $select.search}" >
                            <div ng-bind-html="office.Name | highlight: $select.search"></div>
                            <small>
                                Code: <span ng-bind-html="''+office.Code | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices> 
                    </ui-select>
                    <div class="form-group" ng-class="{ 'has-error': userForm.fromdate.$invalid }">
                        <label for="fromdate" class="col-sm-3 control-label">From:</label>
                        <div  class="col-sm-9">
                            <input type="text"  id="nepaliDate"  class="nepali-calendar form-control" ng-readonly="true" ng-model="fromDate" data-mask="____/__/__" placeholder="Date" required/>
                        </div>
                    </div> 
                    <div class="form-group" ng-class="{ 'has-error': userForm.todate.$invalid }">
                        <label for="todate" class="col-sm-3 control-label">To:</label>
                        <div  class="col-sm-9">
                            <input type="text" id="nepaliDate1"  class="nepali-calendar form-control" ng-readonly="true" ng-model="toDate" data-mask="____/__/__" placeholder="Date" required/>
                        </div>
                    </div>

                </div>
                <table ng-table="vc.tableParams" class="table" show-filter="true">
                    <tr style="cursor: pointer;" ng-repeat="voucher in $data" ng-click="func(voucher.ID)">
                        <td title="'Voucher No'" filter="{ VNo: 'text'}" sortable="'VNo'" > {{voucher.VNo}}</td>
                        <td title="'Date'" filter="{ VDate: 'text'}" sortable="'VDate'">{{voucher.VDate}}</td>
                        <td title="'Narration'" filter="{ Narration: 'text'}" sortable="'Narration'"> {{voucher.Narration}}</td>
                        <td title="'Amount'" filter="{ Amount: 'text'}" sortable="'Amount'">{{voucher.Amount}}</td>
                    </tr>
                </table>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge badge-danger">{{vc.tableParams.total()}}</span>
                        Total Record 
                    </li>

                </ul>
            </div>
        </section> 
    </div>
</div>
<script>
            $(document).ready(function() {
    $('.nepali-calendar').nepaliDatePicker();
    });
    Array.prototype.forEach.call(document.body.querySelectorAll("*[data-mask]"), applyDataMask);
</script>