
<div ng-controller="CreateMemberCtrl">
    <div class="col-md-12">
        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="fa fa-th"></span>Create Member</strong>
                <div class="pull-right">
                    <i class="fa fa-circle  statusactive"></i>
                    <i class="fa fa-map-marker"></i>
                    <strong class="ng-binding"> {{center}} </strong>
                    <small class="ng-binding">
                        <i class="fa fa-building-o"></i> {{office}}
                    </small>
                </div>
                
            </div>
            <div class="panel-body"  >
                 <div data-ui-wizard-form  > 
                     <h1>Personal Information </h1>
                    <div >  
                         <div class="col-sm-6">
                            <fieldset class="scheduler-border">
                                <legend > General Information</legend>
                                <div class="col-sm-6">
                                    <div class ="form-group">
                                        <label class="col-sm-3 control-label">Center:</label>
                                        <div class="col-sm-8">
                                          <input type="text" class="form-control capitalize" id="name" name="name" ng-model="member.CenterName" required >  
                              </div>
                                          
                                    </div> <br/>
                                    <div class ="form-group">
                                        <label for = "group" class="col-sm-3 control-label">Group:</label>                            
                                        <div class="col-sm-8">
                                            <select class = "form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>  
                                        </div>
                                    </div> <br/>
                                    <div class ="form-group">
                                        <label for="date" class="col-sm-3 control-label">Date:</label>
                                        <div class="col-sm-8">
                                            <input type="date" class="form-control" id="date">
                                        </div>
                                    </div> <br/>
                                    <div class ="form-group">
                                        <label for = "code" class="col-sm-3 control-label">Code:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="code">
                                        </div>
                                    </div>
                                    <br/>
                                    <div class ="form-group">
                                        <label for = "position" class="col-md-3 control-label">Position:</label>
                                        <div class="col-sm-8">
                                            <select class = "form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>  
                                        </div>
                                    </div><br/>
                                    <div class ="form-group">
                                        <label for="ID" class="col-sm-3 control-label">ID/Dist:</label>
                                        <div class = "col-sm-4 control-label">
                                            <input type="text" class="form-control" id="ID">
                                        </div>
                                        <div class="col-sm-4 control-label">
                                            <select class = "form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>  
                                        </div>    
                                    </div> <br/>
                                    <div class="form-group">
                                        <label for = "Category" class="col-sm-3 control-label">Category:</label>
                                        <div class="col-sm-8 control-label">
                                            <select class = "form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>  
                                        </div>
                                    </div> <br/>
                                    <div class="form-group">
                                        <label for="Disabled" class="col-sm-7">Is Disabled:</label>
                                        <div class="col-sm-5 control-label">
                                            <input type="checkbox" />
                                        </div>
                                    </div> <br/>

                                </div>

                                <div class="col-sm-6">
                                    <div class ="form-group">
                                        <label for="Fname" class="col-sm-4 control-label">Name:</label>
                                        <div class = "col-sm-8">
                                            <input type="text" class="form-control" id="Fname" placeholder="First Name" >
                                        </div>
                                    </div><br/>
                                    <div class ="form-group">
                                        <label for="Lname" class="col-sm-4 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="Lname" placeholder="Last Name">
                                        </div>
                                    </div><br/>
                                    <div class ="form-group">
                                        <label for="gender" class="col-sm-4 control-label">Gender:</label>
                                        <div class="col-sm-8">
                                            <select class = "form-control">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div> <br/>
                                    <div class ="form-group">
                                        <label for="dob" class="col-sm-4 control-label">DoB:</label>
                                        <div class="col-sm-8">
                                            <input type="date" class="form-control" id="dob">
                                        </div>
                                    </div><br/>

                                    <div class ="form-group">
                                        <label for = "caste" class="col-sm-4 control-label">Caste:</label>
                                        <div class="col-sm-8">
                                            <select class = "form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>  
                                        </div>
                                    </div> <br/>
                                    <div class="form-group">
                                        <label for ="Education" class="col-sm-4">Education:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div> <br/>

                                    <div class="form-group">
                                        <label for ="MaritalStat" class="col-sm-4">Married:</label>
                                        <div class="col-sm-8">
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div> <br/>
                                </div>
                            </fieldset> 
                        </div>

                        <div class="col-sm-3">
                            <fieldset class="scheduler-border">
                                <legend >Address</legend>
                                <div class="form-group">
                                    <label for="Zone" class="col-sm-4">Zone:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="District" class="col-sm-4">District:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="VDC_MUN" class="col-sm-4">VDC/MUN:</label>
                                    <div class="col-sm-8">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="WardNo" class="col-sm-4">Ward:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="col-sm-8 form-control" id="WardNo"/>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="Tole" class="col-sm-4">Tole:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="col-sm-8 form-control" id="Tole"/>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="PhoneNo" class="col-sm-4">Phone:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="col-sm-8 form-control" id="PhoneNo"/>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="MobileNo" class="col-sm-4">Mobile:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="col-sm-8 form-control" id="MobileNo"/>
                                    </div>
                                </div> <br/>
                            </fieldset>
                        </div>


                        <div class="col-sm-3">
                            <fieldset class="scheduler-border">
                                <legend >Family Description</legend>
                                <div class="form-group">
                                    <label for="FamilySize" class="col-sm-7">Family Size:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="FamilyNo"/>
                                    </div>
                                </div><br/>
                                <div class="form-group">
                                    <label for="EarningPerson" class="col-sm-7">Earning Person:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="EarningPerson"/>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="NoOfChild" class="col-sm-7">No. of child:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="NoOfChild"/>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="Spouse_Father" class="col-sm-7">Spouse/Father:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="Spouse_Father"/>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="FatherInLaw" class="col-sm-7">Father in Law:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="FatherInLaw"/>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="Nominee" class="col-sm-7">Nominee:</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="Nominee"/>
                                    </div>
                                </div> <br/>
                                <div class="form-group">
                                    <label for="Relation" class="col-sm-7">Relation:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div> <br/>
                            </fieldset>
                        </div>




                    </div>
  
                    <h1>Asset Details</h1>
                    <div>
                        <div class="col-sm-6">
                             <fieldset class="scheduler-border">
                                <legend > Assets</legend>
                            <div class="form-group">
                                <label for="1.Home" class="col-sm-4">1.Home</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                            </div> <br/>
                            <div class="form-group">
                                <label for="Qty/Value" class="col-sm-4">Qty/Value</label>
                                <div class="col-sm-4">
                                    <input type="text" class="col-sm-8 form-control" id="EarningPerson"/>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="col-sm-8 form-control" id="EarningPerson"/>
                                </div>
                            </div> <br/>
                            <div class="form-group">
                                <label for="Qty/Value" class="col-sm-4">2.Land</label>
                                <div class="col-sm-4">
                                    <input type="text" value="__-__-__" data-mask="__-__-__" class="col-sm-8 form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control"/>
                                </div>
                            </div> <br/>
                            <div class="form-group ">
                                <label class="col-sm-4">3.Livestock</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" />
                                </div>
                            </div> 
                            <br>
                            <div class="form-group ">
                                <label class="col-sm-4">4.Vehicle</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group ">
                                <label class="col-sm-4">5.Business</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label class="col-sm-4">6.Cash/Bank</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label class="col-sm-4">7.Jewelery</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label class="col-sm-4">8.Other</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                             </fieldset>
                        </div>
                        <div class="col-sm-3">
                            <fieldset class="scheduler-border">
                                <legend > Income</legend>
                            <div class="form-group">
                                <label class="col-sm-7">From Business:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label class="col-sm-7">From Job:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label class="col-sm-7">From Wages:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label class="col-sm-7">From Farming:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label class="col-sm-7">From Others:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label class="col-sm-7">Total Income:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            </fieldset>
                        </div>
                        <div class="col-sm-3">
                            <fieldset class="scheduler-border">
                                <legend > Expenses</legend>
                            <div class="form-group">
                                <label class="col-sm-7">On Business:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div> <br/>
                            <div class="form-group">
                                <label class="col-sm-7">On Health/Edu:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label  class="col-sm-7">On Food/Cloth:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label class="col-sm-7">On Repairing:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label class="col-sm-7">On Others:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div><br/>
                            <div class="form-group">
                                <label for="TotalExpenses" class="col-sm-7">Total Expenses:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" />
                                </div>
                            </div> <br/>
                            </fieldset>
                        </div>

                    </div>

                </div>
             
           </div>
        </section>
    </div>

</div>
<script>
     Array.prototype.forEach.call(document.body.querySelectorAll("*[data-mask]"), applyDataMask);
</script>
